* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("images/starbgbig.jpg");
    background-size: cover;
    /* overflow: hidden; */
}

.top {
    background-color: rgb(46, 46, 143);
    margin-right: auto;
    margin-left: auto;
    width: 1010px;
    height: 100px;
}

.main {
    background-color: rgb(192, 179, 179);
    margin-left: auto;
    margin-right: auto;
    width: 1010px;
}

.container {
    display: grid;
    grid-template-columns: 315px 200px auto;
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    width: 1010px;
    justify-content: center;
    padding-top: 10px;
}

.grid-item-1 {}

.grid-item-2 {
    align-self: end;
}

.grid-item-3 {
    align-self: center;
    grid-column: 2;
}

.grid-item-4 {
    align-self: center;
    grid-column: 2;
    grid-row: 3;
}

.grid-item-5 {
    grid-column: 3;
    grid-row: 3;
}

li {}

.flex-container-1 {
    /* display: flex;
    width: fit-content;
    flex-direction: column; */
    padding-left: 105px;
    padding-top: 15px;
    grid-row-start: 1;
}

.flex-container-1-item-1 {
    border-bottom: solid 2px rgb(1, 12, 12);
    text-align: center;
    width: 296px;
    padding-bottom: 5px;
}

.flex-container-1-item-2 {
    text-align: center;
    width: 300px;
}

.flex-container-2 {
    /* display: flex;
    width: fit-content; */
    padding-left: 105px;
    padding-top: 15px;
    /* grid-template-rows: 2; */
    grid-column-start: 1;
}

.flex-container-2-item-1 {
    align-self: center;
    width: 300px;
    padding-bottom: 5px;
    text-align: center;
    /* list-style: none; */
}

.flex-container-3 {
    /* display: flex;
    width: fit-content;
    flex-direction: column; */
    padding-left: 105px;
    grid-column-start: 1;
}

.flex-container-3-item-1 {
    align-self: center;
    width: 300px;
    /* padding-bottom: 5px; */
    text-align: center;
}

.soft-skills-list {}

.flex-container-4-item-1 {
    border-top: solid 2px rgb(1, 12, 12);
    border-bottom: solid 2px rgb(1, 12, 12);
    /* width: fit-content; */
    text-align: center;
}

.list {}

.flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 175px 1fr;
    gap: 1.5rem;
}

.soft-skills {
    border-bottom: solid 2px rgb(1, 12, 12);
}

.skills {
    border-bottom: solid 2px rgb(1, 12, 12);
}

.flex-container-2 ul {}

.flex-container-3 ul {}

.aside {
    grid-column-start: 2;
    grid-row-start: 1;
}

.flex-container-4-item-1 li {}

.icons {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

.icons-1 {
    grid-column-start: 3;
    grid-row-start: 2;
    justify-self: end;
}

.icons-9 {
    grid-column: 4;
    grid-row: 2;
    justify-self: end;
}

.icons-10 {
    grid-column: 5;
    grid-row: 2;
    justify-self: end;
}

.icons-3 {
    grid-column: 6;
    grid-row: 2;
    justify-self: end;
}

.icons-4 {
    grid-column: 8;
    grid-row: 1;
    justify-self: start;
}

.icons-5 {
    grid-column: 7;
    grid-row: 1;
    justify-self: start;
}

.icons-6 {
    grid-column: 6;
    grid-row: 1;
    justify-self: center;
}

.icons-8 {
    grid-column: 5;
    grid-row: 1;
    justify-self: center;
}